*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu-sans-mono', monospace;
}

:root {
  --bg-main-color: #333;
  --text-color: #fff;
  --cash-reg-color: rgb(135, 136, 111);
  --btn-text-color: rgb(255, 0, 0);
  --screen-color: black;
  --screen-text-color: rgb(184, 184, 80);
  --dark-gray: #222;
}

body {
  background-color: var(--bg-main-color);
  margin: 0;
  min-width: 380px;
}
main {
  margin: 0 auto;
}

header {
  margin: 0 auto;
}
.logo {
  margin: 10px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  justify-content: center;
}
h2 {
  color: var(--screen-text-color);
  text-align: center;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--screen-color);
  min-width: 350px;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 4px;
}
form > .status {
  position: absolute;
  left: 5%;
  top: 25%;
  color: var(--text-color);
  text-align: center;
  padding: 20px 10px 10px 10px;
  width: 250px;
  height: 300px;
  border: 2px solid var(--screen-color);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  font-size: 1.1rem;
  z-index: 1;
}
form > .status > ul {
  margin-top: 10px;
  list-style: none;
}
.hide {
  display: none;
}

.label-cash {
  color: var(--text-color);
  text-align: center;
}
#cash {
  border-radius: 6px;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2rem;
  color: var(--btn-text-color);
  margin: 10px;
}
#cash::-webkit-outer-spin-button,
#cash::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  margin: 10px;
  padding: 10px;
  font-weight: 700;
  border-radius: 16px;
  background-color: var(--dark-gray);
  color: var(--text-color);
  border: none;
}
.btn:hover {
  background-color: #4d4c4c;
  color: var(--screen-color);
  transition: 0.4s;
}
.btn:active {
  scale: 0.98;
  transition: 0 0.6s;
  background-color: var(--dark-gray);
  color: var(--text-color);
}
.container {
  background-color: var(--cash-reg-color);
  border: 3px solid var(--screen-color);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  min-width: 350px;
  max-width: 400px;
  height: 290px;
  margin: 0 auto;
  margin-top: 50px;
}
.container > .border-screen {
  position: relative;
  bottom: 16%;
  left: 35%;
  border: 2px solid var(--screen-color);
  max-width: 220px;
  background-color: var(--screen-color);
  color: var(--screen-text-color);
  text-align: center;
  border-radius: 10px;
}
.container > .border-screen > .screen {
  border: 2px solid var(--cash-reg-color);
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 10px;
  z-index: 1;
}
.container > .base-screen {
  position: relative;
  left: 70%;
  bottom: 18%;
  background-color: var(--cash-reg-color);
  width: 30px;
  height: 20px;
  border: 2px solid var(--screen-color);
  z-index: -1;
}
.container > .btns {
  display: grid;
  position: relative;
  top: 20px;
  left: 20px;
  max-width: 110px;
  background-color: var(--dark-gray);
  border: 2px solid var(--screen-color);
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px 30px;
  column-gap: 2px;
  row-gap: 2px;
  justify-content: center;
  align-content: center;
  border-radius: 16px;
  padding: 5px;
}
.container > .btns > .n-btn {
  display: flex;
  border: 1px solid var(--cash-reg-color);
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--screen-color);
  color: var(--btn-text-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container > .btns > .n-btn:hover {
  scale: 0.95;
}
.container > .list-container {
  border: 2px solid var(--screen-color);
  position: relative;
  top: -185px;
  left: 160px;
  max-width: 56%;
  height: 260px;
  border-radius: 16px;
  background-color: var(--dark-gray);
}
.container > .list-container > p {
  color: var(--text-color);
  text-align: center;
  margin: 10px 0;
  word-wrap: break-word;
  font-size: 1rem;
}
.container > .list-container > li {
  color: var(--text-color);
  list-style: none;
  margin-left: 15px;
  font-size: 1rem;
}
.drawer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--cash-reg-color);
  border: 3px solid var(--screen-color);
  max-width: 440px;
  margin: 5px auto;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.drawer > .int-drawer {
  position: relative;
  top: 3px;
  background-color: var(--screen-color);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  width: 96%;
  height: 90%;
}
.drawer > .open-drawer {
  display: flex;
  position: relative;
  top: -45px;
  background-color: var(--cash-reg-color);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  width: 96%;
  height: 90%;
  border: 2px solid var(--screen-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.open {
  animation: shimmy 2s forwards 1s;
  animation-direction: alternate;
}
.close {
  animation: shimmyReverse 3s forwards;
  animation-direction: alternate;
}
@keyframes shimmy {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 25px);
  }
}
@keyframes shimmyReverse {
  0% {
    transform: translate(10px, 25px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.drawer > .open-drawer > .circule {
  display: flex;
  background-color: var(--dark-gray);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--screen-color);
  text-align: center;
  justify-content: center;
  font-size: 1.4rem;
  rotate: 45deg;
}
